.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  height: 600px;
}

body {
  font-family: 'Racing Sans One';
  color: rgb(252, 230, 187);
}

.navbar-light .navbar-nav .nav-link {
  color: #E372A3;
}

a {
  color: hotpink;
}


/* SMALL SCREEN/MOBILE VIEW */
@media only screen and (max-width: 860px) {
  img {
    height: 300px;
  }

  
}