.myleague-main {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 5vh 30% 25%;
}

.myleague-title {
  text-align: center;
  margin-top: 25px;
}

.league-info {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  /* margin-left: 20px; */
}

.rules {
  grid-column: 1 / 5;
  margin-left: 50px;
  text-align: center;
}

.myroster {
  grid-column: 1 / 2;
  display: inline;
  text-align: center;
}

.btn {
  font-size: 12px;
}

.recent-episode {
  display: inline;
  text-align: center;
}

.remaining-queens {
  grid-column: 3 / 4;
  display: inline;
  text-align: center;
}

.elim-queens {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: inline;
  text-align: center;
}