.myleague-main {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20vh 32% 25%;
}

.myleague-title {
  text-align: center;
  margin-top: 25px;
}

.league-info {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  border: 3px solid hotpink;
  width: 300px;
  margin: auto;
  border-radius: 20px;
  background-color: rgb(255, 105, 180, 0.4);
}

.rules {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  text-align: center;
  margin: auto;
  width: 500px;
  border: 3px solid rgb(252, 230, 187);
  background-color: rgb(252, 230, 187, 0.3);
  border-radius: 20px;
  padding-bottom: 5px;
}

.rule {
  font-family: Arial, Helvetica, sans-serif;
}

/* .myroster {
  grid-column: 1 / 2;
  display: inline;
  text-align: center;
} */

.btn {
  font-size: 12px;
}

.last-week {
  display: inline;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.remaining-queens {
  grid-column: 2 / 3;
  display: inline;
  text-align: center;
}

.players {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: inline;
  text-align: center;
}

.name, .number {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 20px 0px 10px;
}

.league-info {
  padding-top: 10px;
  padding-bottom: 3px;
}

.result {
  font-family: Arial, Helvetica, sans-serif;
}

.queenlist {
  font-family: Arial, Helvetica, sans-serif;
}

.player-link {
  color: hotpink !important;
  text-decoration: underline;
}

.playercard {
  margin: auto;
  color: rgb(252, 230, 187);
}

