.myleague-main {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 5vh 20% 25%;
}

.myleague-title {
  text-align: center;
  margin-top: 25px;
}

.league-info {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  border: 3px solid hotpink;
  width: 300px;
  margin: auto;
  border-radius: 20px;
  background-color: rgb(255, 105, 180, 0.4);
}

.rules {
  grid-column: 1 / 5;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 280px;
}

.rule {
  font-family: Arial, Helvetica, sans-serif;
}

.myroster {
  grid-column: 1 / 2;
  display: inline;
  text-align: center;
}

.btn {
  font-size: 12px;
}

.recent-episode {
  display: inline;
  text-align: center;
}

.remaining-queens {
  grid-column: 3 / 4;
  display: inline;
  text-align: center;
}

.players {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: inline;
  text-align: center;
}

.name, .number {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 20px 0px 10px;
}

.league-info {
  padding-top: 10px;
  padding-bottom: 3px;
}

.result {
  font-family: Arial, Helvetica, sans-serif;
}

.queenlist {
  font-family: Arial, Helvetica, sans-serif;
}

.player-link {
  color: hotpink !important;
  text-decoration: underline;
}

