.queens {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.add-queen {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: wrap;
  margin: 0;
  background-color: #e372a3 !important;
  border-bottom: 5px solid hotpink;
}

.weekly-picks-link {
  font-size: 20px;
  display: inline;
  text-align: center;
}

p {
  text-align: center;
  text-decoration: underline;
  margin: 20px;
}

.sashay {
  display: inline;
  text-align: center;
}

.add-queen-form {
  width: 200px !important;
}

.admin-title {
  width: 1500px;
  margin: auto;
}