.add-episode {
  display: inline;
  text-align: center;
}

.add-queen-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  width: 1000px;
}

.all-episodes {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.single-ep {
  border: 3px solid hotpink;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 20% 27% 27% 10%;
  width: 800px;
  margin: 5px;
  text-align: center;
  background-color: rgba(237, 162, 214, 0.3);
  border-radius: 25px;
}

.ep-title {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3px;
  margin-top: 5px;
}

p {
  text-decoration: none;
  text-align: center;
}

.add-episode {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 30% 30% 30% 10%;
  width: 800px;
  margin: auto;
  border: 3px solid rgb(247, 101, 174);
  border-radius: 20px;
  padding: 20px;
  height: 400px;
  background-color: rgb(247, 101, 174, 0.4);
}

label[for="episodeNum"] {
  grid-row: 3/4;
  grid-column: 3/4;
}

label[for="winner"]{
  grid-row: 1/2;
  grid-column: 2/3;
}

label[for="top1"] {
  grid-row: 3/4;
  grid-column: 1/2;
}

.top2 {
  grid-row: 3/4;
  grid-column: 2/3;
}

.top3 {
  grid-row: 3/4;
  grid-column: 3/4;
}

.loser-form {
  grid-row: 1/2;
  grid-column: 3/4;
}

.bottom1 {
  grid-row: ;
  grid-column: ;
}

.bottom2 {
  grid-row: ;
  grid-column: ;
}

.bottom3 {
  grid-row: ;
  grid-column: ;
}

.add-ep-btn {
  grid-row: 5/6;
  grid-column: 1/7;
}

.outcome, .note {
  font-family: Arial, Helvetica, sans-serif;
}