.add-episode {
  display: inline;
  text-align: center;
}

.add-queen-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  width: 1000px;
}

.all-episodes {
  display: flex;
  flex-flow: wrap;
}

.single-ep {
  border: 1px solid hotpink;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 20% 27% 27% 10%;
  /* height: 150px; */
  width: 800px;
}

.ep-title {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  align-items: center;
  justify-content: center;
  text-align: center;
}

p {
  text-decoration: none;
  text-align: center;
}

h5 {
  text-align: center;
  text-decoration: underline;
}