.queen-card {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 250px;
  border: 3px solid hotpink;
  border-radius: 20px;
  background-color: rgb(245, 109, 177, .5);
}

button {
  margin: 5px;
}

.queen-name {
  width: 250px;
  text-align: center;
}
