.title {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scoreboard {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

table {
  border: 1px solid rgb(252, 230, 187);
  margin: 10px;
  text-align: center;
  width: 80vh;
}

th, td {
  border: 3px solid rgb(252, 230, 187);
  margin: 10px;
  text-align: center;
}

.total-score {
  font-weight: bold;
}

.allplayers {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.player-card {
  text-align: center;
  border: 3px solid hotpink;
  margin-left: 20px;
  margin-right: 20px;
  width: 300px;
  height: 300px;
  background-color: rgba(237, 162, 214, 0.3);
  border-radius: 25px;
}

.player-details {
  width: 300px;
  margin: 10px;
}