nav {
  width: 100%;
  position: fixed;
}

.navbar-custom {

}

.navbar-toggler  {
  color: rgb(252, 230, 187);
}

.navbar-toggler:hover {

}


.navbar-brand {
  margin: 0;
  margin-left: 20px;
}

.container-fluid {

}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: pink;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0;
}

