nav {
  width: 100%;
  position: fixed;
}

.title {
  margin: 15px;
}

.navtitle {
  display: none;
}

.navbar-brand {
  margin: 0;
  margin-left: 20px;
}

#navlink {
  color: #5E1334!important;
}

#navlink:hover {
  color: #E372A3 !important;
}

#burger-button {
  color: 1px solid #5E1334 !important;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: rgb(252, 230, 187);
  border-bottom: 5px solid hotpink;
}

.nav-title {
  color: #E372A3;
}



/* SMALL SCREEN/MOBILE VIEW */
@media only screen and (max-width: 550px) {
  .navtitle {
    display: flex;
    font-size: 30px;
    color: #5E1334;
    margin: auto;
  }
  
}

