nav {
  width: 100%;
  position: fixed;
}

.navbar-toggler  {
  color: rgb(252, 230, 187);
}

.title {
  margin: 15px;
}

.navbar-brand {
  margin: 0;
  margin-left: 20px;
}

#navlink {
  color: #5E1334!important;
}

#navlink:hover {
  color: #E372A3 !important;
}

#navbutton {
  color: 1px solid #5E1334;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: rgb(252, 230, 187);
  border-bottom: 5px solid hotpink;
}

.nav-title {
  color: #E372A3;
}

